<%- include ('../partials/adminHeader') %>

<h2 class="page-title">Categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary custom-btn">Add a new category</a>
<br/><br/>

<table class="table table-striped">
    <thead>
        <tr >
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach(category => { %>
            <tr>
                <td><%= category.title %></td>
                <td><a class="custom-a" href="/admin/categories/edit-category/<%= category._id %>">Edit</a></td>
                <!-- <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= category._id %>">Delete</a></td> -->
                <td><a id="delete-cat" class="confirmDeletion custom-delete" data-category-id="<%= category._id%>">Delete</a></td>
                <!-- <td><button id="delete-cat" data-category-id="">Delete</button></td> -->
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include ('../partials/adminFooter') %>