<%- include ('./partials/header') %>

<div class="row products p">
    <% products.forEach(product => { %>
        <div class="col-xs-12 col-md-4">
        <div class="custom-bg">
            <a class="pa" href="/products/<%= product.category %>/<%= product.slug %>">
                <img class="pimage" src="/img/products/<%= product.image %>" alt="<%= product.title %>">
            </a>
            <h3><%= product.title %></h3>
            <% let newPrice = parseFloat(product.price - product.priceDiscount).toFixed(2) %>
            <h4 class="price">$<%= parseFloat(product.price).toFixed(2) %> <span class="badge">-5%</span></h4>
            <h4>$<%= newPrice %></h4>
            <a class="vd custom-a" href="/products/<%= product.category %>/<%= product.slug %>">View Details</a>
        </div>
        </div>
    <% }); %>
</div>

<%- include ('./partials/footer') %>