<%- include ('./partials/header') %>

<div class="row">
  <h1 class="page-header"><%= product.title %></h1>

  <div class="col-xs-12 col-md-5">
    <img
      class="spi"
      src="/img/products/<%= product.image %>"
      alt="<%= product.image %>"
    />
    <br />
  </div>

  <div class="col-xs-12 col-md-7">
    <p><%= product.description %></p>
    <% let newPrice = parseFloat(product.price -
    product.priceDiscount).toFixed(2) %>
    <p class="price">
      $<%= parseFloat(product.price).toFixed(2) %>&nbsp;
      <span class="badge">-5%</span>
    </p>
    <p>$<%= newPrice %></p>
    <% if (user.role === 'user') { %>
    <p>
      <a class="custom-a" href="/cart/add/<%= product.slug %>">Add to cart</a>
    </p>
    <% } else if (user.role === 'admin') { %>
    <p>Admin can not add products to cart</p>
    <% } else { %>
    <p>You must be logged in to purchase items.</p>
    <% } %>
  </div>

  <div class="col-xs-12">
    <ul class="gallery">
      <% product.imageGallery.forEach((img, i) => { %>
      <li>
        <a data-fancybox="gallery" href="/img/gallery/<%= img %>">
          <img
            class="gallery-img"
            src="/img/gallery/<%= img %> "
            alt="Gallery image <%= i + 1 %>"
          />
        </a>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<%- include ('./partials/footer') %>
